/*importan !*/
*,*::after,*::before {
  box-sizing: border-box !important;
}
body{
  background: #2C3136;
  margin:0;
  font-family: sans-serif;
}
/*importan !*/
/*header*/
nav{
  background: #F22B2B;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 64px;
  line-height: 64px;
  left: 0;
  right: 0;
  z-index: 99;
  }
nav .logo{
  float: left;
  margin: 0;
  font-weight: 400;
  font-size: 16px;

}
a{
  text-decoration: none;
}
nav a{
  float: right;
  color: #fff;
}
/*header*/
/*//login*/
.container{
  width: 90%;
  margin: 0px auto;

}
.logout{
  padding: 0 10px;
  margin: 0 5px;
  background: #C60000;
}

.login-box{
  background: #fff;
  width: 400px;
  margin: 10% auto;
}
/*//login*/

.page-title{
  font-weight: 400;
  color: #282829;

}
/*form input*/
.form-input input[type='text'],.form-input input[type='password'],.select_,textarea,.form-input input[type='date']{

  padding: 7px;
  font-size: 14px;
  width: 100%;
  margin: 4px 1px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
}
.form-input input[type='submit'],.btn{
  width: 100%;
  margin: 10px 0px;
  padding: 8px 2px;
  font-size: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  color: #000;
  box-sizing: border-box;
  outline: none;
  border: 0;
  border-radius: 4px;
  text-align: center;
}
.medium{
  width: 150px !important;

}
.small{
  width: 50px !important;

}
.bg-green{
  background-color: #009688;
  color: #fff;
}
.bg-yellow{
  background-color: #ffcb0f;
  color: #fff;
}
.bg-red{
  background-color: #F22B2B;
  color: #fff;
}
.color-green{
  color: #009688;

}
/*form input*/
/*sidebar*/
.sidebar{
  width: 18%;
  float: left;
  padding: 10px;
  background: #2C3136;

}
.profile-box{
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.profile-box h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.profile-box h4{
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;

}
.log{
    font-family: sans-serif;
    color: #eeeeee;
}
.profil-pict {
  width: 50%;
  margin: 15px auto;
  border-radius: 15%;
}
.menu h4{
  font-weight: 400;
  color: #fefefe;
  margin-top: 5px;
}
.menu ul{
  margin: 20px 10px;
  list-style: none;
  padding-left: 13px;
    border-top: 1px solid #1784c7;
    border-bottom:  1px solid #1784c7;
}
.menu ul li a {
  transition: 0.3s;
  color: #fefefe;
  padding : 10px;
  display: block;
  font-size: 14px;
}
.menu ul li a:hover{
  background: rgba(0, 0, 0, 0.5);
}
.menu-bar{
  padding: 10px;
  margin: 10px 0;
}
.med-button{
  width: 150px;
}
/*sidebar*/
/*main kontent*/
#kontent{
  background: #eee;
  padding : 50px;
  width : 82%;
  float : left;
}

.imagedash{
  width: 50%;
  margin: 5px;

}
/*main kontent*/
/*border box*/
.bordered-box{
  padding: 20px;
  border: 1px solid rgba(191, 185, 185, 0.9);
  background: #fff;
  position:relative;
}
.bordered-box p{
  color: #9e9c9c;
}
.red{
  border-top: 4px solid #F22B2B;
}
.green{
  border-top: 4px solid #009688;
}
.yellow{
  border-top: 4px solid #ffcb0f;
}
/*border box*/
/*table*/
legend{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tbody{
  font-size: 15px;
}
th,td{
  padding: 8px;
  font-weight: 400;
  text-align: center;
}
th{
  background: #E5E5E5;
}
tr{
  background: #fff;
}

/*table*/
/*row and col*/
.row::after{

  display: block;
  clear: both;
  content: "";
}
.col-2{
  width: 16.6666%;
}
.col-4{
  width: 33.33333%;
}
.col-3{
  width: 25%;
}
.col-5{
  width: 41.667%;
}
.col-6{
width: 50%;
}
.col-12{
  width: 100%;
}
[class *= "col-"]{
  float: left;
  padding: 10px;
}
/*row and col*/
